@model ShopMicroServices.Web.Models.OrdersBaseModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.custId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.custId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.empId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.empId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.orderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.orderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.requiredDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.requiredDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.shippedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.shippedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.shipperId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.shipperId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.freight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.freight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.shipName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.shipName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.shipAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.shipAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.shipCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.shipCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.shipRegion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.shipRegion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.shipPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.shipPostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.shipCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.shipCountry)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    <a asp-action="Index">Back to List</a>
</div>
